*{
  direction: rtl;
  color: white;
}
body{
background-color:rgb(180, 172, 172);
}
.btn-group {
  color: gray !important;
  /* border:none !important; */
}
input , select, option{
background-color:rgb(44, 43, 43) !important;
border-color: gray !important;
color: gray !important;
}